page-userlogin {

}
.icon{
    font-size:1.4em; padding-left:10px;padding-right:10px;border-radius: 2px;
}
.item-md {
    padding-left: 16px;
    padding-right: 16px;
}
.item{
    background: linear-gradient(#191818,#0e0e0e);padding: 0;margin-bottom: 15px;
}
.item-md.item-block .item-inner{
    border-bottom: none;
}
.btn-border-none{
    border: none;
}