
page-contact{
.userimg{
 width: 4em;border-radius:50%;display: block;margin:25px auto;
}
// .scroll-content{
//     margin-top: 56px; margin-bottom: 67px;
// }
hr{
    background-color:#eee !important;
}
}